<div class="main-head p-relative">
  <div class="home__title">料理を楽しくラクして作ろう</div>
  <figure class="main-visual">
    <%= image_tag "home-image.jpg", class: "main-visual__img" %>
  </figure>
  <% if !current_user %>
  <div class="signup-btn">
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn--signup signup-btn__customize" %>
  </div>
  <% end %>
</div>
<div class="global-container">
  <div class="home-index-container card--col">
    <h1 class="main__title">新着レシピ12選</h1>
    <% @recipes.each do |recipe|%>
      <div class="card">
        <%= link_to recipe_path(recipe), class: "link--no-decorate link--hover-gray" do %>
          <figure class="card__img-wrapper">
              <%= attachment_image_tag recipe, :image, class: "card__img", fallback: "no-image-recipe.jpg" %>
          </figure>
          <div class="card__body">
            <h2 class="card__title"><%= recipe.title %></h2>
            <p class="card__text"><%= recipe.profile %></p>

            <object>
              <%= link_to user_path(recipe.user), class: "link--no-decorate" do %>
                <div class="user-item-sm mb-xs">
                  <figure class="user-item-sm__icon-wrapper">
                    <%= attachment_image_tag recipe.user, :profile_image, class: "user-item-sm__icon", fallback: "no-image-profile.png" %>
                  </figure>
                  <div class="user-item-sm__name"><%= recipe.user.username %></div>
                </div>
              <% end %>
            </object>
            
            <div class="posted-date">
              <div class="posted-date__title">投稿</div>
              <div class="posted-date__text"><%= recipe.updated_at.strftime("%Y年%m月%d日 %H:%M") %></div>
            </div>
            <hr>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
